:root {
    --primary-color: #3BEE58;   /* Primary */
    --shade-color: #F5FCFF;     /* Shade */
    --heading-color: #282938;   /* Heading */
    --body-color: #1C1E53;      /* Body */
    --select-color: #5e3bee;
}